.background-cinzinha {
  background-color: #141414;
  padding: 1rem;
}

.formação {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 9rem;
  background-color: #141414;
  max-width: 1200px;
  margin: 2rem auto;
}

.formação-container {
  display: grid;
  gap: 2.5rem;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  word-wrap: break-word;
  max-width: 4ch;
  text-transform: uppercase;
}

.formação div p {
  font-size: 1.5rem;
}

.formação-descrição {
  color: #a3a3a3;
  max-width: 40ch;
}

.escolas-grade {
  display: flex;
  gap: 2rem;
}

.grade-ensino {
  display: grid;
  padding: 20px;
  background-image: linear-gradient(to right, rgb(51, 51, 51), #141414 75%);
  width: 14rem;
  text-align: center;
  border-radius: 6px;
  gap: 1rem;
}

.texto-branco {
  color: white;
}

.formação-item {
  display: grid;
  gap: 1rem;
}

.extras {
  color: #8f8f8f;
  margin-bottom: 10px;
}

.cursos,
.idiomas {
  position: relative;
}

.cursos::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/cursos.svg) no-repeat center;
  top: -5px;
  left: -40px;
}

.idiomas::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/idiomas.svg) no-repeat center;
  top: -5px;
  left: -40px;
}

.cursos-específicos {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem 2rem;
}

span {
  display: inline-block;
  color: #8f8f8f;
  font-size: 1.3rem;
}

@media (width <= 1316px) {
  .formação {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (width <= 1200px) {
  .subtitulo {
    font-size: 2rem;
    word-wrap: normal;
    color: white;
    text-transform: uppercase;
    width: auto;
  }

  .formação {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .subtitulo::after {
    content: ":";
    padding: 0 0.25rem;
  }
}
