body,
p,
h1,
h2,
h3,
a,
li,
nav,
div,
article,
ul {
  margin: 0px;
  text-decoration: none;
  list-style: none;
  color: #000;
  padding: 0px;
}
body {
  font-family: "Fira Sans", sans-serif;
}

img {
  max-width: 100%;
}
