.header {
  display: flex;
  align-items: center;
  max-width: 1200px;
  justify-content: space-between;
  margin: 30px auto;
}

.header-titulo {
  font-size: 4rem;
  padding: 1.5rem 0px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.header-menu li {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 6px;
}

.header-menu li:hover a {
  color: rgb(148, 148, 148);
}

@media (width <= 1316px) {
  .header {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (width <= 850px) {
  .header {
    flex-direction: column;
    margin-bottom: 50px;
    gap: 2rem;
  }

  .header-menu li {
    background-color: rgb(250, 250, 250);
    width: 10ch;
    text-align: center;
    padding: 1.5rem 3rem;
    font-size: 2rem;
  }
}
