.principal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 9rem;
  max-width: 1200px;
  margin: 40px auto;
}

.principal-informações {
  align-self: center;
}

.principal-descrição {
  font-size: 4rem;
  max-width: 11ch;
  position: relative;
}

.principal-descrição::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 150px;
  display: block;
  background: url(../img/detalhe.svg) no-repeat center;
  top: -50px;
  left: -30px;
  z-index: -1;
}

.localidade {
  font-size: 1.5rem;
  padding: 2rem 0px;
}

@media (width <= 1316px) {
  .principal {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (width <= 850px) {
  .principal-descrição {
    font-size: 2rem;
  }
  .principal-descrição::before {
    width: 35px;
    height: 12.5px;
    top: -10px;
    left: 1.5px;
  }
}
@media (width <= 750px) {
  .principal {
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
  }
}

@media (width <= 570px) {
  .principal {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }

  .imagem-decorativa {
    display: none;
  }
  .principal-informações {
    margin: 0 auto;
  }
  .localidade {
    text-align: center;
  }
}
